@font-face {
    font-family: 'policeMenu';
    src: url('./Ressources/Fonts/Copie\ de\ Inter-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'un';
    src: url('./Ressources/Fonts/Copie\ de\ Inter-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'deux';
    src: url('./Ressources/Fonts/Copie\ de\ Poppins-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'trois';
    src: url('./Ressources/Fonts/Copie\ de\ Poppins-BoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'quatre';
    src: url('./Ressources/Fonts/Copie\ de\ Poppins-Regular.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#navbar {
    display: flex;
    align-items: center;
    margin-right: -100px;
}

.logo  {
    display: flex;
    width: 40%;
    height: 150px;
    margin: 15px 0px 5px 20px;
}

#btnNavbar {
    display: flex;
}

.actu {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-right: 40px;
    font-family: 'quatre';
}

.recall {
    display: flex;
    align-items: center;
    background-color: rgb(194, 194, 194);
    padding: 20px;
    margin-right: 40px;
    font-family: 'quatre';
    text-decoration: none;
}

.iconCasque {
    width: 25px;
}

.contact {
    display: flex;
    align-items: center;
    background-color: rgb(1, 1, 139);
    color: white;
    padding: 20px;
    margin-right: 40px;
    font-family: 'quatre';
    text-decoration: none;
}

.devis {
    display: flex;
    align-items: center;
    background-color: rgb(79, 167, 124);
    color: white;
    padding: 20px;
    font-family: 'quatre';
    text-decoration: none;
}

#menu {
    display: flex;
    justify-content: center;
    background-color: rgb(19, 0, 125);
    font-family:'policeMenu';
    font-size: 20px;
}

#menu a {
    padding: 16px;
    color: white;
    text-decoration: none;
    margin: 10px;
}

#menu .carreCoupeUn {
    position: absolute;
    width: 75px;
    display: flex;
    align-items: center;
    margin-left: 100%;
}

#menu .carreCoupeDeux {
    position: absolute;
    width: 75px;
    display: flex;
    margin-right: 100%;
}

#picBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.photoBox {
    display: flex;
    width: 100%;
    height: 100%;
}

.textBox {
    position: absolute;
    display: flex;
    color: rgb(255, 255, 255);
    background: rgba(39, 39, 120, 0.748);
    padding: 40px;
    font-size: 50px;
    text-align: center;
    justify-content: center;
}

.textBox img {
    width: 10%;
    top: -33px;
    position: absolute;
    display: flex;
}

.textelements {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}

.textelements span {
    color: rgb(116, 190, 255);
}

div.cards {
    z-index: 2;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 25px;
    text-align: center;
    
}
  
  div.card {
    display: inline-block;
    margin: 15px;
    margin-bottom: 30px;
    max-width: 350px;
    transition: all 0.3s 0s ease-in;
    margin-top: 0;
    background-color: rgb(19, 0, 125);
    border-radius: 8px;
    box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.1);
}

div.card:hover {
    background-color: red;
}

  .cards .card__image {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
  }

  div.card-title {
    padding: 6px 15px 10px;
    position: relative;
    color: white;
  }

  .carreAngle {
    width: 500px;
  }

  #texteNumeroDeux {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  #texteNumeroDeux span {
    color: rgb(116, 190, 255);
  }

  .spaceCards {
    display: flex;
    justify-content: center;
  }

.spaceCards h4 {
    margin: 0;
}

  .spaceCards img {
    width: 100px;
  }

  .firstCard,
  .secondCard,
  .thirdCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 19%;
    border: 2px solid black;
    padding: 50px;
  }

  .btnContact {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .btnContact a {
    font-size: 20px;
    color: white;
    background-color: rgb(19, 0, 125);
    padding: 15px;
    padding-left: 35px;
    padding-right: 35px;
    border: none;
    text-decoration: none;
  }

  .textSousFondBleu {
    display: flex;
    align-items: center;
  }

  .textSousFondBleu span {
    color: aqua;
  }

  .textSousFondBleu img {
    width: 50px;
  }

  .textSousFondBleu a {
    display: flex;
    align-items: center;
  }
